<header class="name">
  <div class="container-fluid">
    <div class="p-0 m-0">
      <div class="row">
        <nav class="navbar navbar-expand-lg text-light lang " style="background-color: #2589de">
          <div class="marg d-flex w-100">
            <div class="col-9 logo d-flex">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                      data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
                      aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <a class="navbar" href="index.php">
                <img src="assets/images/government_logo.png" class="logo" width="45px" heigh="55" alt="logo">
              </a>
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="badge badge-primary text-wrap text-start" style="width: 19rem;">
                  <p class="h5 m-0 p-0">Губернатор
                    <ins>|</ins>
                    Правительство
                  </p>
                  <p class="text-uppercase h5 m-0 p-0">Пензенской области</p>
                  <p class="h6 m-0 p-0"> Официальный сайт</p>
                </div>
              </div>
            </div>

            <div class="col-1">
              <nav class="nav nav-pills nav-fill language">
                <a class="nav-item text-light " aria-current="page" href="#">Ru</a>
                <a class="nav-item text-light" href="#">En</a>
                <a class="nav-item text-light" href="#">De</a>
                <a class="nav-item text-light " style="" href="#" aria-disabled="true">Cn</a>
              </nav>
            </div>
            <div class="col-1 language d-flex justify-content-center">Обратная связь</div>
            <div class="d-flex"><a class="eyes"><img src="assets/images/blind_icon.png"></a></div>
            <div class="col-1" style="line-height: 80px; padding-left: 15px"><img
              src="assets/images/authorization_icon.png"> Войти
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>
<section class="form" style="margin-bottom: 5%">
  <div class="container-fluid content p-0">
    <div class="heading">
      <h1>Виртуальная приёмная</h1>
    </div>
    <div class="container-fluid pad">
      <div class="row">
        <div class="col p-0">
          <div class="feedForm">
            <p class="h3 m-0">Заполните форму</p>
            <p class="gray">Поля, помеченные «*» обязательны для заполнения</p>
          </div>
        </div>
      </div>
      <div class="main-content ">
        <form>
          <div class="row">
            <div class="col-10 p-0 selectItem">
              <label for="inputAppeal" class="form-label">К кому хотите обратиться *</label>
              <select id="inputAppeal" class="form-select" style="background-color: #f9f9f9; width: 96%">
                <option selected>Губернатор Пензенской области Мельниченко Олег Владимирович</option>
                <option>...</option>
              </select>
            </div>
          </div>
          <div class="inputItem">
            <div class="row">
              <div class="col-md-3 p-0" style="margin: 0 33px 0 0">
                <label for="inputSurname inputItem" class="form-label">Фамилия*</label>
                <input type="password " class="form-control" id="inputSurname">
              </div>
              <div class="col-md-3">
                <label for="inputEmail" class="form-label">Email*</label>
                <input type="email" class="form-control" id="inputEmail">
              </div>
              <div class="col-md-3 selectItem">
                <label for="inputState" class="form-label">Статус</label>
                <select id="inputState" class="form-select" style="background-color: #f9f9f9;">
                  <option selected>Выберите из списка</option>
                  <option>...</option>
                </select>
              </div>

              <div class="row">
                <div class="col-md-3 p-0">
                  <label for="inputName" class="form-label">Имя*</label>
                  <input type="password" class="form-control" id="inputName">
                </div>
                <div class="col-md-3">
                  <label for="inputPhone" class="form-label">Телефон</label>
                  <input type="password" class="form-control" id="inputPhone">
                </div>
              </div>
              <div class="row">
                <div class="col-md-3 p-0">
                  <label for="inputPatronymic" class="form-label">Отчество(при наличии)</label>
                  <input type="password" class="form-control" id="inputPatronymic">
                </div>
                <div class="col-md-3">
                  <label for="inputTheme" class="form-label">Тема обращения</label>
                  <input type="password" class="form-control" id="inputTheme">
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 p-0 textArea" style="margin: 0 40px 0 0">
                  <label for="inputOrgans" class="form-label">В какие органы обращались</label>
                  <textarea type="password" class="form-control" id="inputOrgans"></textarea>
                </div>
                <div class="col-md-4 textArea">
                  <label for="inputText" class="form-label">Текст обращения*</label>
                  <textarea type="password" class="form-control" id="inputText"></textarea>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3 p-0">
                <div class="form-group">
                  <div class="title">Прикрепить файл</div>
                  <div class="file_image" style="">
                    <button type="button"></button>
                    <div></div>
                    <input type="file" name="ufile">
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="captcha p-0">
                <label for="inputPassword4" class="form-label">Контрольный код*</label>
                <div class="col-md-5 d-flex">
                  <img src="assets/images/captcha.jpg">
                  <input type="password" class="form-control" id="inputPassword4" style="width: 30%; margin-left: 3%">
                </div>
              </div>
            </div>
          </div>
          <div class="row captcha">
            <div class="col-12 p-0">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck">
                <label class="form-check-label" for="gridCheck">
                  Настоящим подтверждаю, что я даю согласие на обработку моих персональных данных
                </label>
              </div>
              <div class="col-12">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="gridCheck">
                  <label class="form-check-label" for="gridCheck">
                    <a href="https://pnzreg.ru/virtual-reception/reception-of-citizens/politika-konfidentsialnosti.php">Политика
                      конфиденциальности</a>
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="row captcha">
            <div class="col-12 p-0">
              <button type="submit" class="buttonAuth fw-bold">Отправить обращение</button>
            </div>
          </div>
        </form>
        <div class="feedInfo" style="max-width: none; margin-top:30px; ">
          <p>Авторизуйтесь в личном кабинете чтобы получать уведомления о ходе рассмотрения обращения.</p>
          <p>В случае необходимости в подтверждение своих доводов гражданин вправе приложить к обращению необходимые
            документы и материалы в электронной форме, воспользовавшись функцией «Прикрепить файл».</p>
          <p>Обращаем внимание, что прикрепляемые документы и материалы служат лишь подтверждением доводов автора
            обращения, изложенных в тексте обращения.</p>
          <p>При подключении оборудования пользователя к сети «Интернет» по выделенным каналам связи с использованием
            технологий ADSL, 3G, 4G, WiFi и иных технологий, обеспечивающих аналогичные скорости передачи
            данных в сети «Интернет», передача и обработка файла(ов) с суммарным размером:<br>
            - до 5 Мб осуществляется, как правило, без задержки во времени;<br>
            - от 5 Мб до 10 Мб может осуществляться с задержкой во времени;<br>
            - свыше 10 Мб может быть не осуществлена.<br>
          </p>
        </div>
      </div>
    </div>
  </div>

</section>
<footer>
  <div class="foot-content">
    <div class="footerCols">
      <div class="container-fluid">
        <div class="row">
          <div class="col-6">
            <div class="footer__attentionText" style="color: #606060">При использовании материалов официального интернет-портала<br>
              Правительства Пензенской области ссылка на <a href="http://pnzreg.ru/">www.pnzreg.ru</a> - обязательна
            </div>
          </div>
          <div class="col-6">
            <div class="footer__socialBlock">
              <a href="https://ok.ru/group/56185483493552" target="_blank"><img src="/images_v2/ok-icon-footer.svg" alt="" title=""></a>
              <a href="https://vk.com/penzaoblgov" target="_blank"><img src="/images_v2/vk-icon-footer.svg" alt="" title=""></a>
              <a href="https://t.me/penzregru" target="_blank"><img src="/images_v2/tg-icon-footer.svg" alt="" title=""></a>
              <a href="https://rutube.ru/channel/25010333/" target="_blank"><img src="/images_v2/rt-icon-footer.svg" alt="" title=""></a>
            </div>
          </div>
        </div>
        <div class="row ">
          <div class="col-6 mg-top">
            <div class="footer__errorText">Нашли ошибку? Выделите фрагмент текста, и нажмите Ctrl+Enter</div>
          </div>
          <div class="col-6 info">
            <div class="footer__feedInfo">
              <div>440025, г. Пенза, ул. Московская, д. 75,</div>
              <div>т.: <a href="tel:+78412560194" class="phone">(8412) 56-01-94</a>, <a href="tel:+78412550411" class="phone">55-04-11</a>,</div>
              <div>Е-mail: <a href="mailto:pravobl@obl.penza.net" class="email">pravobl@obl.penza.net</a><br>
                <a href="https://www.gosuslugi.ru/structure/5840100010000000004">Правительство&nbsp;на портале "Госуслуги"</a></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <div class="footerLinks__block">
              <a href="#" class="blind_footer">Версия для слабовидящих</a>
              <a href="/site-map/" class="map">Карта сайта</a>
            </div>
          </div>
          <div class="col-6">
            <div class="footer__devLink"><a href="http://www.58studio.ru/" target="_blank"></a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>



<!--
<div class="col-md-6">
  <label for="inputEmail4" class="form-label">Эл. адрес</label>
  <input type="email" class="form-control" id="inputEmail4">
</div>
<div class="col-md-6">
  <label for="inputPassword4" class="form-label">Пароль</label>
  <input type="password" class="form-control" id="inputPassword4">
</div>
<div class="col-md-6">
  <label for="inputAddress" class="form-label">Адрес</label>
  <input type="text" class="form-control" id="inputAddress" placeholder="Проспект Ленина">
</div>
<div class="col-md-6">
  <label for="inputAddress2" class="form-label">Адрес 2</label>
  <input type="text" class="form-control" id="inputAddress2" placeholder="Квартира">
</div>
<div class="col-md-6">
  <label for="inputCity" class="form-label">Город</label>
  <input type="text" class="form-control" id="inputCity" placeholder="Брянск">
</div>
<div class="col-md-4">
  <label for="inputState" class="form-label">Область</label>
  <select id="inputState" class="form-select">
    <option selected>Выберите...</option>
    <option>...</option>
  </select>
</div>
<div class="col-md-2">
  <label for="inputZip" class="form-label">Индекс</label>
  <input type="text" class="form-control" id="inputZip">
</div>
<div class="col-12">
  <div class="form-check">
    <input class="form-check-input" type="checkbox" id="gridCheck">
    <label class="form-check-label" for="gridCheck">
      Проверить меня
    </label>
  </div>
</div>
<div class="col-12">
  <button type="submit" class="btn btn-primary">Войти в систему</button>
</div>
-->


