@font-face {
  font-family: 'Lato-Regular';
  src: url("/assets/fonts/Lato-Regular.ttf") format("truetype");
  font-weight: 400;
}

.example-spacer {
  flex: 1 1 auto;
}

span {

}

.menu {
  height: 80px;
}

.logo {
  max-width: 100%;
  heigh: 45px
}

.language {

  border-right: 1px solid #217ac5;
  height: 80px;
  line-height: 80px;


}

.lang {
  padding: 0;
}

.eyes {
  border-right: 1px solid #217ac5;
  height: 80px;
  line-height: 80px;
  display: block;
  padding-left: 10px;
  padding-right: 10px;
  width: 70px;
}

header {
  overflow-x: hidden;
  overflow-y: hidden;
}

.marg {
  margin: 0 10% 0 10%;
}

.content {
  margin: 0 10% 0 10%;
}

.heading {
  padding: 1.3% 0 4% 0;
}

.gray {
  color: #9d9d9d;
}

.feedForm {
  padding: 0 0 0 3.5%;
}

.pad {
  padding: 1% 0 0 0;
}

.form {
  overflow-x: hidden;
  overflow-y: hidden;
}

.main-content {
  padding: 0 10% 0 3.5%;
}

form {
  width: 100%;
}

.captcha{
  margin-top: 2%;
}
.form-label{
  margin-top: 25px;
}


.inputItem input{
  width: 100%;
  background: #f9f9f9;
  border: 1px solid #ededed;
  padding: 0 15px 0 15px;
  height: 40px;
  line-height: 40px;
  color: #3d3d3d;
  font-size: 90%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 0;

}

.selectItem select{
  width: 100%;
  border: 1px solid #ededed;
  padding: 0 15px 0 15px;
  height: 40px;
  line-height: 40px;
  color: #3d3d3d;
  font-size: 90%;
  box-sizing: border-box;
  border-radius: 0;
}

.col-md-3 {
  margin: 0 40px 0 0;
}

.file_image > button{
  background: url(/assets/images/btn_upload.jpg) 0 0 no-repeat;
  overflow: hidden;
  border: none;
  float: right;
  width: 129px;
  height: 38px;
}
.file_image{
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 375px;
  background: #f9f9f9;
  border: 1px solid #ededed;
}
.file-image > div{
  padding: 0px 15px 0 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 38px;
  line-height: 38px;
  color: #3d3d3d;
  font-family: 'clear_sansregular';
  font-size: 90%;
}
.file_image input[type=file] {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  letter-spacing: 10em;
  -ms-transform: scale(20);
  opacity: 0;
  cursor: pointer;
}
.checkBox{
  content: '';
  display: inline-block;
  height: 16px;
  width: 16px;
  position: absolute;
  top: 2px;
  left: 0;
  cursor: pointer;
}

.title{
  margin-top: 40px;
}
.textArea textarea{
  resize: none;
  width: 100%;
  height: 110px;
  background: #f9f9f9;
  border: 1px solid #ededed;
  padding: 15px;
  line-height: 110%;
  color: #3d3d3d;
  font-size: 90%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 0;
}
.buttonAuth{
  display: block;
  width: 230px;
  height: 55px;
  line-height: 50px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  background: #da251c;
  font-size: 17px;
  float: left;
  border-radius: 0;
  border: none;

}
.feedInfo{
  margin-right: 12%;
  margin-left: -13px;
  font-family: Lato-Regular;
  font-size: 14px;
}

footer{
  font-family: Lato-Regular;
  font-size: 13px;
  border-top: 1px solid #e0e0e0;
  background-color: #ececec;
}

.footerCols{
  padding-top: 37px;
}

.foot-content{
  margin: 0 12% 0 12%;
}

.info{
  margin-top: 10px;
}

.mg-top{
  margin-top: 25px;
}

.footer__socialBlock{
  text-align: right;
}

.footer__errorText{
  padding-left: 30px;
  background: url(/assets/images/text_error_icon.png) 0px 0px no-repeat;
}
.footer__feedInfo{
  text-align: right;
}

.phone{
  text-decoration: none;
  color: black;
}

.email{
  text-decoration: none;
  color: black;
}

.email:hover{
  text-decoration: underline;
}

.map{
  margin-left: 20px;
}

.footer__devLink{
  text-align: right;
  margin-top: 25px;
}

.footer__devLink a{
  display: inline-block;
  height: 30px;
  width: 23px;
  background: url("/assets/images/studio_logo.png") 0px 0px no-repeat;
}
