<header class="name">
  <div class="p-0 m-0">
    <div class="row">
      <nav class="navbar navbar-expand-lg text-light lang " style="background-color: #2589de">
        <div class="marg d-flex w-100">
          <div class="col-9 logo d-flex">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
                    aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar" href="index.php">
              <img src="assets/images/government_logo.png" class="logo" width="45px" heigh="55" alt="logo">
            </a>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="badge badge-primary text-wrap text-start" style="width: 19rem;">
                <p class="h5 m-0 p-0">Губернатор
                  <ins>|</ins>
                  Правительство
                </p>
                <p class="text-uppercase h5 m-0 p-0">Пензенской области</p>
                <p class="h6 m-0 p-0"> Официальный сайт</p>
              </div>
            </div>
          </div>

          <div class="col-1">
            <nav class="nav nav-pills nav-fill language">
              <a class="nav-item text-light " aria-current="page" href="#">Ru</a>
              <a class="nav-item text-light" href="#">En</a>
              <a class="nav-item text-light" href="#">De</a>
              <a class="nav-item text-light " style="" href="#" aria-disabled="true">Cn</a>
            </nav>
          </div>
          <div class="col-1 language d-flex justify-content-center">Обратная связь</div>
          <div class="d-flex"><a class="eyes justify-content-center"><img src="assets/images/blind_icon.png"></a></div>
          <div class="col-1" style="line-height: 80px; padding-left: 15px"><img src="assets/images/authorization_icon.png"> Войти</div>
        </div>
      </nav>
    </div>
  </div>
</header>
