@font-face {
  font-family: 'Lato-Regular';
  src: url("/assets/fonts/Lato-Regular.ttf") format("truetype");
  font-weight: 400;
}
.example-spacer {
  flex: 1 1 auto;
}
span{

}
.menu{
  height: 80px;
}
.logo{
  max-width:100%;
  heigh:45px
}
.language{

  border-right:1px solid #217ac5;
  height: 80px;
  line-height: 80px;


}
.lang{
  padding: 0;
}
.eyes{
  border-right:1px solid #217ac5;
  height: 80px;
  line-height: 80px;
  display: block;
  padding-left: 10px;
  padding-right: 10px;
  width: 70px;
}
header{
  overflow-x: hidden;
  overflow-y: hidden ;
}

.marg{
  margin: 0 10% 0 10%;
}

.content{
  margin: 0 10% 0 10%;
}

.heading{
  padding: 1.3% 0 4% 0;
}

.gray{
  color: #9d9d9d;
}
.feedForm{
  padding: 0 0 0 3%;
}

.pad{
  padding: 1% 0 0 0;
}



